@mixin icon($image, $color) {
    background-color: #fff;
    background-image: url($image);
    background-repeat: no-repeat;
    background-position: center;
    border-color: $color;
    box-shadow: inset 0px 5px 6px grey, 0px 8px darken($color, 15%);
}

@mixin bigShadow($color) {
    box-shadow: inset 0px 5px 6px grey, 0px 8px darken($color, 15%), 0px 0px 0px 50px rgba($color: #ffffff, $alpha: .07), 0px 0px 0px 100px rgba($color: #ffffff, $alpha: .05), 0px 0px 0px 150px rgba($color: #ffffff, $alpha: .025), ;
}